.login{
    width: 600px;
    margin: 60px auto;
    position: relative;
    background-color: white;
    box-shadow: 0px 3px 45px -16px rgba(0,0,0,1);
    border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    div{
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    }
    
    img {
        width: 100%;
        height: 100px;
        opacity: 85%;
        position: absolute;
    box-shadow: 2px 2px 4px #000000;
    border-top-right-radius: 8px;
        border-top-left-radius: 8px;
    

    }
    .text{
        position: relative;
        text-align: center;
        padding: 30px 0;
        color: white;

    }
    .otp{
        width: 500px;
        margin: 40px auto;
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 15px;
            input{
                width: 60%;
                padding: 5px;
                box-sizing: border-box;
                border: none;
                border-bottom: 2px solid black;
                background-color: white;
            }
        }
        .submit{
            margin:20px 40px;
            padding:5px 15px;
            background-color: rgb(31, 223, 73);
            color: white;
            border: none;
            border-radius: 30px;
            cursor: pointer;
        }
    }
    .noconn{
        width: 250px;
        padding: 4px;
        color: red;
        font-weight: bold;
        border-bottom: 2px solid #0ff06cc4;
    }
}